
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    scroll-behavior: smooth;
}

body {
    background: black;
    color:#fff
}

a {
    color: #fff;
    text-decoration: none;
}
header {
    background-color: black;
    padding: 35px 8% 35px 5%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 10px;
}

.logo {
    font-size: 24px;
    font-weight: 600;
}

.nav a {
    font-size: 18px;
    font-weight: 500;
    margin: 0 20px;
    transition: 0.3s ease;
}

.navbar a:hover,
.navbar a.active {
    color: lightgray;
}

.contact{
    padding: 10px 20px;
    background: white;
    color: black;
    border: 2px solid transparent;
    border-radius: 4pc;
    font-size: 18px;
    font-weight: 400;
}

.contact:hover {
    background-color: black;
    color: white;
    border-color: whitesmoke;
}

.home {
    padding: 30px 8% 0 3%;
    width: 100%;
    min-height: 100vh;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.home-content {
    flex: 1;
    max-width: 700px;
}

.home-content h3 {
    font-size: 42px;
}

.home-content h1 {
    font-size: 52px;
    line-height: 1.2;
}

.home-content p {
    font-size: 18px;
    margin: 25px 0 30px;
}

.img-box img {
    border-radius: 50%;
    width: 20pc;
}

@media (min-width: 375px){
    .home-content h3{
        font-size:38px ;
    }
    .home-content h1{
        font-size: 48;
    }
    .img-box{
        width: 280px;
    }
}

@media(mi-width: 768px) {
    .home-content h3{
        font-size: 40;
    }
    .home-content h1{
        font-size:50px;
    }
    .img-box{
        width: 300px;
    }    
}

@media (min-width: 1024px) {
    .home-content h3{
        font-size: 42px;
    }
    .home-content h1{
        font-size: 52px;
    }
    .img-box{
        width: 320px;
    }    
}
